<!DOCTYPE html>
{% include "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <div class="row">
  <div class="col-2" id="container-left">
      <br/><br/><br/><br/>
      <div class="left">
          <h6><a class="text-muted" href="{% url 'question_list' %}">Home</a></h6>
          <br/>
          <h5>PUBLIC</h5>
          <div class="inner-left">
              <h6><span class="glyphicon glyphicon-globe"></span><a class="text-muted" href="{% url 'question_list' %}">Stack overflow</a></h6>
              <h6><a class="text-muted" href="{% url 'question_list' %}">Tags</a></h6>
              <h6><a class="text-muted" href="{% url 'question_list' %}">Users</a></h6>
          </div>
      </div>
  </div>
  <div class="col-10" align="center">
    <br/><br/><br/><br/><br/><br/>
      <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header text-primary"><b>LOGIN FORM</b></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <label>Username</label><br/>
                    {{ form.username }}
                    <br/><br/>
                    <label>Password</label><br/>
                    <input type="password" name="password" id="id_password"/>
                    <br/><br/>
                    <input type="submit" class="btn btn-primary" value="Login"/>
                    <button type="button" class="btn btn-outline-primary"><a href="{% url 'signup_page' %}">Register</a></button>
                </form>
            </div>
      </div>
  </div>
    </div>
</body>
</html>